body {
	margin: 0px;
	font-size: 18px;
	font-family: 'KoHo', sans-serif;	
	color: #404042;

}

head{
	display: none;
}

div{
	display: block;
}


/*  Banner  */
.banner{
    background-image: url("Images/usiness-people-meeting-to-discuss-the-situation-on-the-marketing.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.banner h1{
    color: rgb(59, 13, 133);
    font-size: 45px;
    margin: 0;
    font-weight: 900;
}

.banner p{
    color: rgb(59, 13, 133);
    font-size: 24px;
    opacity: 0.7;
    font-weight: bold;
}

.banner .p2{
    font-size: 18px;
    color:black;
    margin:0;
}


h1,h2,h3{
    font-family: 'Nunito', sans-serif;
}

h1{
    text-transform: uppercase;
}

h2{
    display: block;
    font-size: 1.5em;
    margin: 20px;
}

h3{
    font-size: 22px;
    margin: 15px;
}

strong{
    font-weight: 900;
    
}


/*  Container  */

.container{
    width: 80%;
    margin: auto;
   
}

.container .title {
    padding-bottom: 10%;
    margin: 0;
}

.cards{
    display: inline-flex;
    flex-wrap: wrap;
    
    

}

.card img{
    width: 40%;
    height: 60%;
    position: center;       
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 0 16px #c0c0c7;
    border-radius: 10px;

}

.card{
    border: none;
    justify-content: space-around;
}

.card-body {
    margin: 30px 10px;    
    box-sizing: content-box;
    
}

.card-text{
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #656568;
  
}



.card img:hover {
    box-shadow: 0 0 30px 10px rgba(100, 99, 99, 0.1);
    transform: scale(1.05);
   
    
}

/*  Button  */

.register{
    padding-top: 70px;
}

.reg{
    display: inline-block;
    font-size: 1em;
    padding: 0.4em 1em;
    padding-bottom: 10px;
    appearance: none;
    background-color: rgb(139, 92, 184);
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(174, 0, 255, 0.5);
}

.reg:focus {
    outline: 0;
}

.reg:active {
    transform: scale(0.9);
    background-color: darken(rgba(226, 117, 150, 0.5) ,5%);
    box-shadow: 0 2px 25px rgba(186, 99, 226, 0.89) ;

}





/*  Footer  */

.footer{
    font-size: 87%;
    border-top: 1px solid #eee;
    margin-top: 3.4em;
    padding: 1.2em;
    background: #fafafa;
}

.legal {
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
}

.l {
    letter-spacing: -.31em; 
    text-rendering: optimizeSpeed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow:row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    word-spacing:-.43em;
}



.p-1 {
    display: inline-block;
    letter-spacing:normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width:50%;
    *width:49.969%;
}

.legal-links,.legal-copyright {
    text-align: right;
    margin-right: 10px;
    	    
}

.legal-license {
    text-align: left;
    margin-right: 10px;
    	
}

.p-1 p{
    font-weight: 900;
}

